<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header class="navbar">
  <div class="navbar__left">
    <!-- Aquí puedes poner un logo pequeño si quieres -->
    <span class="navbar__brand">Simulador de Flujo de Muones</span>
  </div>

  <nav class="navbar__tabs">
    <a
      routerLink="/"
      routerLinkActive="tab--active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tab"
      >Inicio</a
    >
    <a routerLink="/simulador" routerLinkActive="tab--active" class="tab"
      >Simulador</a
    >
    <a routerLink="/descripcion" routerLinkActive="tab--active" class="tab"
      >Descripción</a
    >
    <a routerLink="/descargas" routerLinkActive="tab--active" class="tab"
      >Descargas</a
    >
  </nav>
</header>

<main class="page">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  © 2025 Todos los derechos reservados
</footer>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->